h1 {
    font-size: 24px;
    background-color: rgb(43, 162, 226);
    text-align: center;
}

.link {
    font-size: 10px;
    text-align: center;
    background-color: rgb(234, 213, 25);
}

/* Szintabla piros, zold  */
.szines-doboz-R-G {
    background-color: rgb(227, 238, 238);
    width: 30px;
    height: 25px;
    border: 2px solid rgb(246, 224, 224);
}

/* Szintabla piros, zold, kek */
.szines-doboz-R-G-B {
    background-color: rgb(227, 238, 238);
    width: 30px;
    height: 25px;
    border: 2px solid rgb(246, 224, 224);
}

.doboz-pici {
    width: 12px !important;
}



