h1 {
font-size: 24px;
/* background-color: rgb(252, 82, 82); */
text-align: center;
}

.link {
font-size: 10px;
text-align: center;
background-color: rgb(234, 213, 25);
}

table td {
  background-color: aquamarine;
  padding: 10px;
  border: solid 1px gray;
}

.hide {
  display: none;
}


